{# #######################
  content.html
##########################

This block prints the main content of the report - it should loop through
the output from each module and print it in sections.

#}

{% macro print_section(module_anchor, s) -%}
  {% if s.print_section %}
    {% if (s['name'] is none or s['name'] | length == 0) and s['helptext'] is not none and s['helptext'] | length > 0 %}
      <button class="btn btn-default btn-sm pull-right" type="button" data-toggle="collapse" data-target="#{{ s['anchor'] }}_helptext" aria-expanded="false" aria-controls="{{ s['anchor'] }}_helptext">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
        Help
      </button>
    {% endif %}
    <div class="mqc-section mqc-section-{{ module_anchor }}">
      {% if s.name is not none and s.name | length > 0 %}
        <h3 id="{{ s.anchor }}">
            {{ s.name }}
            {% if s['helptext'] is not none and s['helptext'] | length > 0 %}
              <button class="btn btn-default btn-sm pull-right" type="button" data-toggle="collapse" data-target="#{{ s['anchor'] }}_helptext" aria-expanded="false" aria-controls="{{ s['anchor'] }}_helptext">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                Help
              </button>
            {% endif %}
        </h3>
      {% endif %}
      {% if s.description is not none and s.description | length > 0 %}<div class="mqc-section-description">{{ s.description }}</div>{% endif %}
      {% if s.comment is not none and s.comment | length > 0 %}<blockquote class="mqc-section-comment">{{ s.comment }}</blockquote>{% endif %}
      {% if s.helptext is not none and s.helptext | length > 0 %}
        <div class="collapse mqc-section-helptext " id="{{ s.anchor }}_helptext">
          <div class="well">{{ s.helptext }}</div>
        </div>
      {% endif %}
      {% if s.plot is not none %}<div class="mqc-section-plot">{{ s.plot }}</div>{% endif %}
      {{ s.content if s.content }}
    </div>

  {% endif %}
{%- endmacro %}

{% macro find_sections(group) %}
  {% for m in report.modules_output %}
    {% for s in m.sections %}
      {% if s.anchor == group.table %}
        {{ print_section(m.anchor, s) }}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {% for anchor in group.anchors %}
    {% for m in report.modules_output %}
      {% if m.anchor == anchor %}
        <div id="mqc-module-section-{{ m.anchor }}" class="mqc-module-section">
        <div style="display: none">{{ m.intro if m.intro }}</div>
        {% if m.comment %}<blockquote class="mqc-section-comment">{{ m.comment }}</blockquote>{% endif %}
      {% endif %}
      {% for s in m.sections %}
        {% if m.anchor == anchor or s.anchor == anchor %}
          {{ print_section(m.anchor, s) }}
          <br>
        {% endif %}
      {% endfor %}
      {% if m.anchor == anchor %}
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endmacro %}

{% from "groups.html" import alignstats_group, groups with context %}
{% for group in groups %}
  {% set sections = find_sections(group) %}
  {% if sections|trim %}
    <div id="mqc-module-section-{{ group.id }}" class="mqc-module-section">
      {% if group.id != alignstats_group.id %}
        <h2 id="{{ group.id }}">{{ group.title }}</h2>
      {% endif %}
      {{ sections }}
    </div>
  {% endif %}
{% endfor %}

{#
  TODO: 5. add TargQC explanations from SOP
        6. more reasonable heatmaps (count outliers, or use knowledge of good coverage (80%?)
        8. Add more RNAseq tools?
#}