{# #######################
  general_stats.html
##########################

This block generates the General Statistics table at the top of the report.

#}

{% if not config.skip_generalstats %}
{% from "groups.html" import alignstats_group with context %}
<div id="{{ alignstats_group.id }}">
  <h2>{{ alignstats_group.title }}</h2>
  {% if config.az and config.az.prealign %}
    <p>
      Alignment statistics are estimated based of a {{ config.az.prealign.downsampled_percent }}%
      fraction of total reads for each sample.</p>
    <p>
    {% if config.az.prealign.preseq_predictions %}
      Duplication ratio is predicted by Preseq, and reflected in
      "E Dup" (estimated duplication ratio), "E Cov" (estimated depth of coverage),
      "E Usable" (percentage of unique reads on target).</p>
    {% else %}
{#      Metric "E Cov" (estimated depth of coverage) is estimated#}
{#      roughly simply based on the dowmsampled percentage.#}
      Preseq was not run because it doesn't work with UMIs.</p>
    {% endif %}
  {% endif %}
  {{ report.general_stats_html }}
</div>
{% if (report.ngs_reports_added or report.lims_added) %}
<div style="margin: 0 5px 35px;">
  {% if report.ngs_reports_added and not report.beeswarm_renderred  %}
    To access NGS Oncology reports, click on a sample name.
  {% endif %}
  {% if report.lims_added %}
    {% if report.lims_col %}
      To access Clarity LIMS, click on a {{ report.lims_col }}.
    {% else %}
      To access Clarity LIMS, click on a sample type.
    {% endif %}
  {% endif %}
</div>
{% endif %}
{% endif %}